<section class="form-auth text-center">
  <h2 class="h3 mb-3 font-weight-normal">Resend confirmation instructions</h2>
    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %> <br>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Resend confirmation instructions</button>
  <% end %>
  <%= render "devise/shared/links" %>
</section>