<div class="container">
  <p id="notice"><%= notice %></p>
    <h1>Billings Details</h1>
      <table class="table">
        <thead>
          <tr>
            <th>Card Holder Name</th>
            <th>Card Number</th>
            <th>Cvv Number</th>
            <th>Valid From</th>
            <th>Valid Upto</th>
            <th>Card Id</th>
            <th>Card Type</th>
            <th>Bank Name</th>
            <th>Total Amount</th>
            <th>Paid Amount</th>
            <th>Due Amount</th>
            <th colspan="3"></th>
          </tr>
        </thead>
      </table>
      <div>
        <%= link_to 'Back', cards_path() %>
      </div>
</div>